# Timeout in seconds that Limine will use before automatically booting.
TIMEOUT=0
TERM_FONT=boot:///unifont.bin

# The entry name that will be displayed in the boot menu
:limex
 
# Change the protocol line depending on the used protocol.
PROTOCOL=limine
 
# Path to the kernel to boot. boot:/// represents the partition on which limine.cfg is located.
KERNEL_PATH=boot:///limex.elf

MODULE_PATH=boot:///unifont.sfn
MODULE_CMDLINE=unifont